  {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<div class="header">
    <div class="burger-menu">&#9776;</div> <!-- Бургер-меню -->

    <div class="navigation">
        <div class="elements"><a href="{% url 'index' %}">Home</a></div>
        <div class="elements"><a href="{% url 'wishlist' %}">Wishlist</a></div>
        <div class="elements"><a href="{% url 'catalog' %}">Catalog</a></div>
    </div>

    <div class="social-media">
        <div class="search">
            <form action="{% url 'search' %}" method="GET">
                <input type="text" name="search" placeholder="Search..." value="{{ search }}">
                <button type="submit" class="icon-search">
                    <img src="{% static 'img/seach.svg' %}" alt="">
                </button>
            </form>
        </div>

        <div class="media-el"><img src="{% static 'img/twitter.svg' %}" alt="twitter"></div>
        <div class="media-el"><img src="{% static 'img/discord.svg' %}" alt="discord"></div>
        <div class="media-el"><img src="{% static 'img/youtude.svg' %}" alt="youtube"></div>
        <div class="media-el"><img src="{% static 'img/tg.svg' %}" alt="tg"></div>
        <div class="profile-el">
            <a href="{% url 'profile' %}"><img src="{% static 'img/profile.svg' %}" alt="profile"></a>
        </div>
    </div>
</div>


<script>
document.addEventListener("DOMContentLoaded", function () {
    const burger = document.querySelector(".burger-menu");
    const nav = document.querySelector(".navigation");

    burger.addEventListener("click", function () {
        nav.classList.toggle("active");
    });
});


</script>
